<!DOCTYPE html>
<html>
    <form method="post" action="/logged">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
    </form>
</html>